/*Global Styling*/
body {	
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("davies_flowers.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	padding-top: 0;
	padding-bottom: 0;
	background-attachment: fixed;
	height: 100%;
	min-width: 100%;
}
p{
	font-size: 0.9rem;
}
p.small{
	line-height: 1.1rem;
}

/*All Headers*/
.saa-header {
	font-family: "myriad-pro", Arial, Helvetica, sans-serif;
	color: white;
	font-weight: 400;
	overflow: hidden;
	}


/*Main Headings */
h2{
	font-size: 1.7rem;
	line-height: 1.8rem;
}
h5{
	font-size: 1.3rem;
	line-height: 1.4rem;
}
h1.saa-header{
	font-size: 1.7rem;
	line-height: 1.8rem;
	font-weight: 800;
	margin-top: 0;
	text-align: center;
	}
h2.saa-header{
	font-size: 1.3rem;
	line-height: 1.4rem;
	font-weight: 200;
	margin-bottom: 0;
	text-align: center;
	}
h3.saa-header{
	font-size: 1.4rem;
	line-height: 1.4rem;
	font-weight: 400;
	}
h4.saa-header{
	font-size: 1.1rem;
	font-weight: 400;
	text-align: center;
	}
.saa-body-margins{
	top: 7rem;
	margin-left: 1rem;
	margin-right: 1rem;
}	
.saa-body-margins.saa-button{
	padding-top: 0.5rem;
	margin-left: 0;
	margin-right: 0;
}
	
/*Hover*/
a:hover{
	color:#7badb6;
}

/*Title Header*/
.header {
	position: fixed;
	left: 0;
	z-index: 99;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 5rem;
}

/*Footer*/
.footer{
	white-space: nowrap;
	padding-bottom: .5rem;
	overflow: hidden;
	position: absolute;
	bottom:4rem;
	left:0;
	right:0;
	z-index:3;
}
.saa-footer-left{
	text-align: right;
}
.saa-footer-right{
	text-align: left;
}
/*Modals*/
/*Make list in modal black font*/

ul.modal{
	color: #555f60;
}
	
p.modal{
	color: #555f60;
}

#modalTitle{
	font-weight: 800;
}
div.reveal-modal{
	z-index: 9000;
}

a.modal:link{
	color: #2b3e85;
}
a.modal:visited{
	color: #2b3e85;
}

/* Link Overrides */
a:link{
	color: white;
}
a:visited{
	color: white;
}
a:active{
	color: white;
}

/*Custom Class to make buttons white*/
.white-button{
	background: none;
	border: .12rem solid white;
	width: 100%;
	font-size: 1.3rem;
	font-weight: 400;
	white-space: nowrap;
	padding-left: 0rem;
	padding-right: 0rem;
    /* these three lines center the text vertically and horizontally*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.white-button.saa-small{
	height: 3.75rem;
	margin: 0 0 0.5rem;
}
.white-button.saa-large{
	height: 7rem;
	margin: 0 0 0rem;
}

/*this makes the scroll all nice and working, applied to div with buttons*/
.text{
    position: absolute;
    overflow: auto;
    top: 7rem;
	bottom: 5rem;
	left: 0;
	right: 0;
	width: 30rem;
	margin: auto;
	max-width: 100%;
}
/* removes the margin from the two-column layout to improve button spacing */
.small-6.columns{
	padding-left: 0.3rem;
    padding-right: 0.3rem;
}

/*no ugly scrollbar please*/
::-webkit-scrollbar {
    width: 0
}
/*Hide skip intro*/
.saa-hidden{
	visibility: hidden;
}
/*Media Queries*/
/*changes class parameters based on screen size*/

/* Large (Desktop): */
@media only screen and (min-width: 75em) {
	/* font sizes */
	p{
		font-size: 1.2rem;
	}
	p.small{
		line-height: 1.4rem;
	}
	h1.saa-header{
		font-size: 2rem;
		line-height: 2.1rem;
	}
	h2.saa-header{
		font-size: 1.6rem;
		line-height: 1.7rem;
	}

	/* sizes */
	.header {
		height: 6rem;
	}

	/* margins */
	.text{
		width: 40rem;
	}
	.saa-footer-left{
		text-align: right;
		margin-right: 2rem;
		margin-left: 2rem;
	}
	.saa-footer-right{
		text-align: left;
		margin-left: 2rem;
		margin-right: 2rem;
	}
}
/* Medium: */
@media only screen and (max-width: 74.937em) and (min-width: 55.063em) {
	.text{
		width: 60rem;
	}
	.saa-footer-left{
		text-align: left;
		margin-left: 6rem;
	}
	.saa-footer-right{
		text-align: right;
		margin-right: 6rem;
	}
	.footer{
		bottom: 2rem;
	}
}
/* Small (Mobile): */
@media only screen and (max-width: 55em) {
	.saa-footer-left{
		text-align: right;
		margin-left: 0rem;
	}
	.saa-footer-right{
		text-align: left;
		margin-right: 0rem;
	}
	.footer{
		bottom: 0rem;
	}
}

/* One Page CSS */
.saa-content {
    height: 100%;
    min-width: 100%;
    position: absolute;
    z-index: 1;
}

.saa-panel{
	min-width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	z-index: 2;

	/* Defaults (While Not Displayed) */
	visibility: hidden;

	opacity: 0;

	-moz-transform: scale(0.985);
    -webkit-transform: scale(0.985);
    -o-transform: scale(0.985);
    -ms-transform: scale(0.985);
    transform: scale(0.985);

    /* Transition speed that applies to any parameter change to a panel */
	-webkit-transition: all 1.5s;
	moz-transition: all 1.5s;
	o-transition: all 1.5s;
	transition: all 1.5s;
}
.saa-panel:target {
    
    /* While Displayed */
    opacity: 1;

    visibility: visible;

	-moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
